// шрифт
$font-family-primary: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans";;

// breakpoint
$screen-xs:            575px;
$screen-sm:            767px;
$screen-md:            991px;
$screen-lg:            1199px;
$screen-xxl:           1440px;